@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,900&display=swap");

body {
  font-family: "Lato", sans-serif;
}
#descriptionDiv {
  width: 90vw;
  border-radius: 10px;
  background-color: white;
  overflow-y: scroll;
  height: 90vh;
  z-index: 1000;
  position: absolute;
  top: 5vh;
  left: 5vw;
}

#descriptionP {
  text-align: justify;
  margin: 10%;
  font-weight: 300;
}

#descriptionH1 {
  margin-top: 5vh;
  text-align: center;
}

#descriptionX {
  position: fixed;
  top: 5vh;
  right: 6vw;
  font-weight: 900;
  font-size: 50px;
}
